<head>
  <meta charset="utf-8">
  <div class="title">
   CLEAR!
  </div>
</head>

<h2>
    <div class="text1">
    おめでとうございます！「The Quest of Q」を完全にクリアしました！
    </div>
    <div class="link_form">
    <iframe src="https://forms.gle/MEwCarAaDXP8Y4fe6" width="640" height="750" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
    </div>
    <div class="text1">
    到達ツイートはこちらから↓
    </div>
    <div class="link_X">
    <iframe src="https://forms.gle/t5QMyT6pDiXjNJBV8" width="640" height="750" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
    </div>
    <div class='link'>
    <a href="fletter" class="botton1">終わりに </a>
    </div>

<h2> 
