<head>
  <meta charset="utf-8">
  <div class="title">
   CheckPoint!
  </div>
</head>

<h2>
    <div class="text1">
    The Quest of Q の最初のチェックポイントに到達しました。
    一度休憩するもよし、勢いをつけて前進するもよし。
    ただ、チェックポイント１に到達したチームとして名前だけ残しておきましょう。
    </div>
    <div class "set">
      <div class="link_form">
      <iframe src="https://forms.gle/t5QMyT6pDiXjNJBV8" width="640" height="750" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
      </div>
    </div>
    <div class="text1">
    到達ツイートはこちらから↓
    </div>
    <div class="link_X">
    <iframe src="https://x.gd/070gE" width="640" height="750" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
    </div>
    <div class='link'>
    <a href="bubble" class="botton1">問題へ進む </a>
    </div>

<h2> 
